<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.hrms.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.study.hrms.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="realname" jdbcType="VARCHAR" property="realname" />
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>

    <sql id="Base_Column_List">

        id,
        username,
        realname,
        last_login_time,
        createtime,
        password

    </sql>

    <insert id="insert" parameterType="com.study.hrms.entity.User">
        insert into user (
        id,
        username,
        realname,
        last_login_time,
        createtime,
        password
        )
        values (
        #{id,jdbcType=INTEGER},
        #{username,jdbcType=VARCHAR},
        #{realname,jdbcType=VARCHAR},
        #{lastLoginTime,jdbcType=TIMESTAMP},
        #{createtime,jdbcType=TIMESTAMP},
        #{password,jdbcType=VARCHAR}
        )
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.study.hrms.entity.User">
        update user
        set

        username = #{username,jdbcType=VARCHAR},

        realname = #{realname,jdbcType=VARCHAR},

        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},

        createtime = #{createtime,jdbcType=TIMESTAMP},

        password = #{password,jdbcType=VARCHAR}

        where

        id = #{id,jdbcType=INTEGER}

    </update>
    <select id="findByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from user where username = #{username,jdbcType=VARCHAR}
    </select>
    <select id="list" parameterType="com.study.hrms.qo.UserQO" resultMap="BaseResultMap">
        select * from user
        where 1=1
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="realname != null">
                and realname = #{realname,jdbcType=VARCHAR}
            </if>
    </select>
</mapper>

